/*---------CSS code used throughout the prpject (alphabetical)---------------*/

@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*---------General CSS (CSS that occurs in more than one page))----------------------------------------*/
body {
  overflow-x: hidden;
  padding-top: 0;
  height: auto;
  padding-bottom: 10px;
}

.circle-cover-bg {
  height: 100%;
  border-radius: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#globe {
  width: 60px;
  height: 60px;
}

.header-style {
  height: 76px;
}

.nav-item a:hover {
  color: #fff;
}

.hero-div {
  height: 40vh;
  width: 100%;
  background: url('/static/images/testing_photo.jpg');
  background-size: cover;
  margin-bottom: 40px;
}

.inline {
  display: inline;
}

.input3 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.2;
  padding: 0 5px;
  font: inherit;
  color: inherit; 
}

img { 
  object-fit: cover;
}

.mx-auto {
  margin: auto;
}

.padding-top-7 {
  padding-top: 7px;
}

.text-details {
  width: 150px;
}

.text-details p, p a {
  font-family: 'Arvo', serif;
  font-size: 1rem;
  margin-bottom: 0;
}

.text-details p a {
  background-color: #a4b0c0;
  border-color: #a4b0c0;
}

.text-center {
  text-align: center;
}

.register-container {
  width: 1422px !important;
  height: 388px !important;
}

.wrapable {
  flex-wrap: wrap;
  word-wrap: break-word;
}

.text-inherit {
  font-family: inherit;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
/*------------offering details---------------------------*/

.circle-container-bg {
  width: 250px;
  height: 250px;
  margin-top: 30px;
}

.circle-container-details {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 10%;
  background-signup-image-linkze: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.details {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.details-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.details i {
  margin: 0 0.2rem;
  font-size: 1.5rem;
}

.details p {
  font-family: 'Arvo', serif;
  font-size: 1.5rem;
} 

hr {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.more-offerings {
  text-align: center;
  margin: 12px auto;
  font-family: 'Arvo', serif;
  font-size: 1.5rem;
}

@media only screen and (min-width: 320px) {
  .circle-container-bg {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 450px) {
  .circle-container-bg {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 500px) {
  .details {
    width: 500px;
    margin: auto;
  }
  .hero-div {
    height: 55vh;
  }
}

@media only screen and (min-width: 660px) {
  .circle-container-bg {
    width: 600px;
    height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .circle-container-bg {
    width: auto;
    margin: auto;
    margin-top: 30px;
  }
  .details {
    width: auto;
  }
}

@media only screen and (min-width: 830px) {
  .hero-div {
    height: 75vh;
}
}


/*--------------Host/Worker Profile ---------------------*/

.host-worker-profile-image {
  width: 100px;
  display: block;
  margin-top: 5px;
  border-radius: 10%;
}

.profile-background {
  background-image: linear-gradient(rgba(240, 240, 240, 0.55), rgba(240, 240, 240, 0.55)),  url('/static/images/z-s-9cKVKzUJ6o0-unsplash\ \(4\).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 100px;
}

.profile-container {
  width: 75vw;
  margin: auto;
  border-radius: 2%;
  padding: 5px 10px;
  background-color: seashell;
  border: seashell solid 2px;
  margin-bottom: 250px;
  margin-top: 20px;
}

.profile-edit a {
  margin-top: 20px;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 1.4rem;
  background-color:  #a4b0c0;
  border:  #a4b0c0;
}

.profile-edit {
  text-align: center;
}

.profile-title {
  font-family: 'Arvo', serif;
}

.profile-title-div {
  padding-top: 30px;
}

.padding-top-15 {
  padding-top: 15px;
}

@media (max-width:660px) and (min-width:480px) {
  hr {
    width: fit-content;
  }
}

/*-----------------navbar--------------------------*/

.navbar-nav li a {
  font-family: 'Arvo', serif;
  font-size: 1.2rem;
}

.navbar-style {
  background-color: #a4b0c0;
}

.navbar-toggler-style {
  background-color: #fff;
}

.navbar-nav li {
  margin-left: 20px;
}

#globe {
  display: none;
}

.navbar-toggler-icon div {
  background-color: #a4b0c0;
  height: 8px;
  border-radius:10%;
  margin-bottom: 3px;
}

.navbar-nav li {
  padding-top: 8px;
}

@media only screen and (min-width: 767px) {
  #globe {
    display: inline;
  }
}

/*---------------------Homepage-------------------------*/

#jonah-photo {
  border-radius: 50%;
}

.homepage-text {
  font-family: 'Arvo', serif;
  color: #a4b0c0;
}

.homepage-text div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.homepage-titles {
  margin-bottom: 8px;
}

.homepage-quote {
  margin: 15px;
}

.paragraph-padding {
  padding: 8px;
}

.homepage-quote-row {
  background-color: #a4b0c0;
}

.middle-row-white {
  color: #fff !important;
}

.homepage-quote q {
  font-size: 25px;
}

@media only screen and (min-width: 1030px) {
  .padding-bottom-10 {
    padding-bottom: 10px;
  }
  .jonahs-story {
    padding-top: 15px;
  }
}

/*----------------footer----------------------------*/

.footer p a:hover {
  color: #a4b0c0;
}

.footer p {
  font-family: inherit;
}

.business-info {
  margin-top: 30px;
}

.footer h6 {
  margin-bottom: 10px;
}
