/*---------CSS code used throughout the prpject (alphabetical)---------------*/

@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*---------General CSS (CSS that occurs in more than one page))----------------------------------------*/

.main {
  min-height: calc(100vh - 76px - 154px)
}

body {
  overflow-x: hidden;
  padding-top: 0;
  /*height: auto;*/
  padding-bottom: 10px;
}

.circle-cover-bg {
  height: 100%;
  border-radius: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#globe {
  width: 60px;
  height: 60px;
}

.header-style {
  height: 76px;
}

.nav-item a:hover {
  color: #fff;
}

.hero-div {
  height: 40vh;
  width: 100%;
  background: url('/static/images/language_learning.jpg');
  background-size: contain;
  margin-bottom: 40px;
  background-repeat: no-repeat;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block
}

.input3 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.2;
  padding: 0 5px;
  font: inherit;
  color: #6666; 
}

img { 
  object-fit: cover;
}

.mx-auto {
  margin: auto;
}

.padding-top-7 {
  padding-top: 7px;
}

.text-details-offering {
  width: 150px;
  height: 90px;
}

.text-details-worker {
  width: 150px;
  height: 150px;
}

.text-details p, p a {
  font-family: 'Arvo', serif;
  font-size: 1rem;
  margin-bottom: 0;
}

.text-details p a {
  background-color: #a4b0c0;
  border-color: #a4b0c0;
}

.text-center {
  text-align: center;
}

.register-container {
  width: 1422px !important;
  height: 388px !important;
}

.wrapable {
  flex-wrap: wrap;
  word-wrap: break-word;
}

.text-inherit {
  font-family: inherit;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.container-fluid {
  padding: 0;
}

#body-element {
  padding-bottom: 0;
}

.width-20 {
  width: 20px !important;
}

.fixed-break-header {
  position: fixed;
  top: 76px;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media only screen and (max-width: 767px) {
  .fixed-break-header {
  top: 56px;
}
}

/*------------offering details---------------------------*/

.circle-container-bg {
  width: 250px;
  height: 250px;
  margin-top: 30px;
}

.circle-container-details {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 10%;
  background-signup-image-linkze: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.details {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.details-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.details i {
  margin: 0 0.2rem;
  font-size: 1.5rem;
}

.details p {
  font-family: 'Arvo', serif;
  font-size: 1.5rem;
} 

hr {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.more-offerings {
  text-align: center;
  margin-top: 12px;
  font-family: 'Arvo', serif;
  font-size: 1.5rem;
}

.individual-worker-offering {
  margin-top: 15px;
}

#movable-div {
  margin-bottom: 20px;
}

.positioning-all-host-worker {
  margin-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

@media only screen and (max-width: 1051px) {
.positioning-all-host-worker {
  padding-left: 10%;
  padding-right: 10%;
}
}

@media only screen and (min-width: 320px) {
  .circle-container-bg {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 450px) {
  .circle-container-bg {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 500px) {
  .details {
    width: 500px;
    margin: auto;
  }
  .hero-div {
    height: 55vh;
  }
}

@media only screen and (min-width: 660px) {
  .circle-container-bg {
    width: 600px;
    height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .circle-container-bg {
    width: auto;
    margin: auto;
    margin-top: 30px;
  }
  .details {
    width: auto;
  }
}

@media only screen and (min-width: 830px) {
  .hero-div {
    height: 75vh;
}
}


/*--------------Host/Worker Profile ---------------------*/

.host-worker-profile-image {
  width: 100px;
  display: block;
  margin-top: 5px;
  border-radius: 10%;
}

.profile-background {
  /*background-image: linear-gradient(rgba(240, 240, 240, 0.55), rgba(240, 240, 240, 0.55)),  url('/static/images/three_little_birds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  background-color: #c7d6da;
  min-height: calc(100vh - 76px - 154px)
  /*padding-bottom: 100px;
  /*margin-top: -20px;*/
}

.profile-container {
  width: 75vw;
  margin: auto;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: seashell;
  border: seashell solid 2px;
  /*margin-bottom: 20px;
  margin-top: 20px;*/
}

.profile-padding {
  padding-bottom: 80px;
  padding-top: 20px;
}

.profile-edit a {
  margin-top: 20px;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 1.4rem;
  background-color:  #a4b0c0;
  border:  #a4b0c0;
}

.profile-edit {
  text-align: center;
}

.profile-title {
  font-family: 'Arvo', serif;
}

.profile-title-div {
  padding-top: 20px;
}

.padding-top-15 {
  padding-top: 15px;
}

.bottom-div {
  position: relative;
}

.bottom-button {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@media (max-width:660px) and (min-width:480px) {
  hr {
    width: fit-content;
  }
}

/*-----------------navbar--------------------------*/

.navbar-nav li a {
  font-family: 'Arvo', serif;
  font-size: 1.2rem;
}

.navbar-style {
  background-color: #fff;
}

.navbar-toggler-style {
  background-color: #fff;
}

.navbar-nav li {
  margin-left: 20px;
}

#globe {
  display: none;
}

.navbar-toggler-icon div {
  background-color: #a4b0c0;
  height: 8px;
  border-radius:10%;
  margin-bottom: 3px;
}

.navbar-nav li {
  padding-top: 8px;
}

.payment-modal-button button {
  margin-left: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}



@media only screen and (min-width: 768px) {
  #globe {
    display: inline;
  }
  .payment-modal-button {
    position: absolute;
    right: 25px;
  }
}

/*---------------------Homepage-------------------------*/

.homepage-pics {
  border-radius: 20%;
  border: 3px solid #000;
}

#daniela-photo {
  border-radius: 50%;
}

.vertical-alignment {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-hp-quote {
  display: flex;
  justify-content: center; /* align horizontally */
  align-items: center;     /* align vertically */
  height: 300px !important;         /* just for the sake of the example */
}

.line-break-concept {
  background-color: #fff;
  height: 3px; /* or however much space you want the line break to take up */
  display: none;
}

.header-break {
  background-color: black;
  height: 3px;
}

.homepage-titles {
  margin-bottom: 8px;
}

.paragraph-padding {
  padding: 8px;
}

.grey-background {
  background-color: #a4b0c0;
}

.sage-background {
  background-color: #CBD18F;
}

.white-text {
  color: #fff !important;
}

.homepage-quote q {
  font-size: 25px;
}

.homepage-text {
  font-size: 18px;
  font-family: 'Arvo', serif;
}

.row-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.left-padding {
  padding-left: 35px;
}


.right-padding {
  padding-right: 15px;
}

.column-level-quote {
  padding-right: 60px;
}

.homepage-right-text{
  padding-right: 100px;
}

.homepage-left-text {
  padding-left: 40px;
}

@media only screen and (max-width: 1180px) {
  .homepage-quote q {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1530px) {
  .homepage-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1030px) {
  .jonahs-story {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 1061px) {
  .homepage-right-text {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .homepage-left-text {
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
  }
  .line-break-concept {
    display: block;
}
  .homepage-right-text {
    padding-left: 100px;
  }
  .column-level-quote {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 876px) {
  .container-hp-quote {
    height: 100% !important;
  }
}

@media only screen and (max-width: 620px) {
  .homepage-right-text {
    padding-left: 55px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 985px) {
  .homepage-left-text {
  padding-bottom: 20px;
  padding-top: 15px;
  }
}

/*----------------footer----------------------------*/

.footer p a:hover {
  color: #fff;
}

.footer p {
  font-family: 'Arvo', serif;
  color: #fff;
}

.business-info {
  margin-top: 30px;
}

.footer h6 {
  color: #fff;
  margin-bottom: 3px;
}

.back-to-top {
  margin-top: 97px;
}

.footer {
  background-color: #a4b0c0;
  padding: 15px;
  position: relative;
  bottom: 0;
}

#admin-footer {
  margin-bottom: 20px;
}

/*----------------product admin-----------------*/

.admin-form {  
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.2;
  padding: 0 5px;
  font: inherit;
  color: #666666;
  width: 20%; 
}

.admin-form-div {
  padding: 20px;
}

.product-details {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  margin: auto;
  width: 100%;
  background-color: seashell;
  margin-top: -20px;
}

.product-form-para {
  font-size: 15px;
  font-family: 'Arvo', serif;
}

.product-form .form-control {
  margin: auto;
  width: 50px;
}

@media only screen and (min-width: 855px) {
  .product-details {
    width: 85%;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 2%;
  }
}


@media only screen and (min-width: 750px) {
.product-form-para {
  font-size: 25px;
}
}


/*-----------------------upgrade modal------------------------*/

.upgrade-modal {
  font-family: 'Arvo', serif;
}