/*---------CSS code used throughout the prpject (alphabetical)---------------*/

/*---------General CSS----------------------------------------*/
body {
  overflow-x: hidden;
  padding-top: 0;
  height: auto;
}

.circle-container-sm {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
}

.wrapable {
  flex-wrap: wrap;
  word-wrap: break-word;
}

#globe {
  width: 60px;
  height: 60px;
}

.green {
  color: green !important;
}

.hero-div {
  height: 90vh;
  width: 100%;
  background: url('/static/images/testing_photo.jpg');
  background-size: cover;
}

.inline {
  display: inline;
}

img { 
  object-fit: cover;
}

.mx-auto {
  margin: auto;
}

.navbar {
  background-color: #a4b0c0;
}

.navbar-toggler {
  background-color: #a4b0c0;
}


#nav-home {
  margin-left: 20px;
}


.register-container {
  width: 1422px !important;
  height: 388px !important;
}

/*------------offering details---------------------------*/

.circle-container-bg {
  width: 280px;
  height: 280px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 10px;
  border-radius: 50%;
  margin-top: 80px;
}

.circle-cover-bg {
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.details {
  width: 260px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 10px;
  border-radius: 10%;
  padding: 10px;
}

@media only screen and (min-width: 450px) {
  .circle-container-bg {
    width: 400px;
    height: 400px;
  }
}

