{% extends "base.html" %}
{% load static %}

<!--Content that will be injected into the base.html-->
{% block content %}
<!--<div class="hero-div no-margin"> 
    <div class="hero-div no-margin"></div>
</div>-->   
<!-- This Bootstrap form was taken from https://getbootstrap.com/docs/4.0/components/navbar/--> 
    <div class="container-fluid homepage-text">
        <!--First BS row-->
        <div class="row">
            <!--image div of Jonah-->
            <div class="col-12 col-md-5 col-lg-4">
                <div class="vertical-alignment row-padding left-padding">
                    <img src="{% static 'images/jonah-photo.jpeg' %}" alt="Jonah ie. picture of a man" width="300" height="300" class="homepage-pics">
                </div>
            </div>
            <!--text div-->
            <div class="col-12 col-md-7 col-lg-8 homepage-right-text">
                <div class="vertical-alignment">
                    <h2 class="text-center homepage-titles">Jonah's Story</h2>
                    <p class="text-inherit homepage-text">This a picture of a man.  That man’s name is Jonah.
                        Jonah loves learning languages.  Jonah speaks five languages and has 
                        spent extended periods of time in different countries, meeting people
                        and practising his languages.  Jonah has loved every minute of his experiences,
                        however, one element of his travels has always been particularly challenging:
                        making lasting friendships.  Now, I know what you are thinking; maybe Jonah is
                        a werido. This is possible, however, as far as we can tell, Jonah is quite
                        normal (apart from his obsession with language-learning).  The simple truth
                        is that people are often so busy with their own lives that they don’t have time
                        to make friends with travelling weirdos like Jonah.  This is where we come in. 
                    </p>
                </div>
            </div>
        </div>
        <!--Second BS row-->
        <div class="row">
            <!--quoted text div-->
            <div class="col-12 col-md-4 order-md-12 text-center white-text grey-background column-level-quote">
                <div class="container-hp-quote">
                    <h3 class="homepage-quote">
                        <q>Language learning is preocupied with giving students a base in a language,
                    think Duolingo, Memrise, Italki.  Language Stay represents the next step in
                    the road to proficiency.
                        </q>
                </h3>
                </div>
            </div>
            <!--text div-->
            <div class="col-12 col-md-8 order-md-1 padding-bottom-10 grey-background homepage-left-text">
                <div class="vertical-alignment">
                    <h2 class="text-center homepage-titles padding-top-15 white-text">The Concept</h2>
                    <p class="text-inherit paragraph-padding white-text homepage-text">Our aim is to facilitate the process of making
                        target-language-speaking friends by putting you right in the heart 
                        of a family or household.  You will live, work, eat and, most importantly,
                        converse(!) with your host(s) everyday and, before long, you’ll be
                        nattering away in Finish or French or Farsi as part of the family.  
                        Gone are the days of spending inordinate sums on language courses
                        abroad only to learn from a textbook and speak English with the
                        other foreign students or of spending days off wandering around 
                        with no-one to talk to!
                    </p>
                </div>
            </div>
        </div>
        <!--Third BS row-->
        <div class="row">
            <!--Image div-->
            <div class="col-12 col-md-5 col-lg-4 order-1 text-center">
                <div class="vertical-alignment row-padding left-padding">
                    <img src="{% static 'images/daniela_gabeiele.jpg' %}" alt="Picture of people on holiday" width="300" height="300" class="homepage-pics">
                </div>
            </div>
            <!--text div-->
            <div class="col-12 col-md-7 col-lg-8 order-2 homepage-right-text">
                <div class="vertical-alignment">
                    <h2 class="text-center homepage-titles">The Deal</h2>
                    <p class="text-inherit homepage-text">Our aim is to facilitate the process of making
                        target-language-speaking friends by putting you right in the heart 
                        of a family or household.  You will live, work, eat and, most importantly,
                        converse(!) with your host(s) everyday and, before long, you’ll be
                        nattering away in Finish or French or Farsi as part of the family.  
                        Gone are the days of spending inordinate sums on language courses
                        abroad only to learn from a textbook and speak English with the
                        other foreign students or of spending days off wandering around 
                        with no-one to talk to!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
