{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- This Bootstrap form was taken from https://freefrontend.com/bootstrap-forms/-->
<body>
	<div class="container-fluid homepage-text">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <img src="/static/images/jonah-photo.jpeg" alt="Jonah" width="300" height="300" id="jonah-photo">
            </div>
            <div class="col-12 col-md-8">
                <h2 class="text-center">Jonah's Story</h2>
                <p>This a picture of a man.  That man’s name is Jonah.
                    Jonah loves learning languages.  Jonah speaks five languages and has 
                    spent extended periods of time in different countries, meeting people
                    and practising his languages.  Jonah has loved every minute of his experiences,
                    however, one element of his travels has always been particularly challenging:
                    making lasting friendships.  Now, I know what you are thinking; maybe Jonah is
                    a werido. This is possible, however, as far as we can tell, Jonah is quite
                    normal (apart from his obsession with language-learning).  The simple truth
                    is that people are often so busy with their own lives that they don’t have time
                    to make friends with travelling weirdos like Jonah.  This is where we come in. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-8"></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-8"></div>
        </div>
</body>
{% endblock %}
