{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>


    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/register_signup.css' %}" />
</head>
<body>
    <div class="main" style="background-image: url('../../static/accounts/images/testing_photo.jpg;)">
        <!-- Sign up form -->
        <section class="signup">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="POST" class="register-form" id="register-form" action="{% url 'register' post_paramater %}">
                        {% csrf_token %}
                        <div class="container">
                            <div id="profile-inputs">
                                <div class="form-group">
                                    <label for="name">Username</label>
                                    {{form.username}}
                                    <!--<input id="username-input">-->
                                </div>  
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {{form.email}}
                                </div>
                                <div class="form-group">
                                    <label for="pass">First Name</label>
                                    {{form.first_name}}
                                </div>
                                <div class="form-group">
                                    <label for="re-pass">Last Name</label>
                                    {{form.last_name}}
                                </div>
                                <div class="form-group">
                                    <label for="re-pass">Password</label>
                                    {{form.password1}}
                                </div>
                                <div class="form-group">
                                    <label for="re-pass">Re-type Password</label>
                                    {{form.password2}}
                                </div>
                            </div>
                            <div id="host-worker-inputs">
                                <div class='form-group'>
                                {% if post_paramater == 'host' %}
                                    <label for='nationality_first'>Nationality</label>
                                    {{profile_form.nationality}}
                                {% else %} 
                                    <label for='nationality_first'>First Language</label>
                                    {{profile_form.first_language}}
                                {% endif %}
                                </div>   
                                <div class='form-group'>
                                {% if post_paramater == 'host' %}
                                    <label for="first_language_desired">First Language</label>
                                    {{profile_form.first_language}}  
                                {% else %} 
                                    <label for='first_language_desired'>Desired Language</label>
                                    {{profile_form.desired_language}} 
                                {% endif %}     
                                </div>
                                <div class="form-group">
                                {% if post_paramater == 'host' %}
                                    <label for='location_experience'>Location</label>
                                    {{profile_form.location}}  
                                {% else %} 
                                    <label for='location_experience'>Work Experience Category</label>
                                    {{profile_form.work_experience_category}}
                                {% endif %}  
                                </div>
                                <div class='form-group'>
                                    {% if profile_form.work_experience %}
                                        <label for='name'>Work Experience</label>
                                        {{profile_form.work_experience}} 
                                    {% endif %}  
                                </div>
                                <div class='form-group form-button'>
                                    <input type='submit' name='signup-step-2' id='signup-step-2' class='form-submit' value='Register'/>
                                </div>
                                <div>
                                    <a href="#" class="signup-image-link">I am already member</a>
                                </div>
                            </div>
                        </div>
                    </form>    
                </div>  
            </div>
        </section>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<script>
    window.onload = function(){
        var signup_1 = document.getElementById("signup-step-1");
        signup_1.addEventListener("click", next_input)}

        
    function next_input() {
        console.log("hello")
        //This needs to hold the submit until the next form has been filled out
        var register_form = document.getElementById("register-form");
        register_form.innerHTML += `<div class='form-group'>
        <div>{% if post_paramater == 'host' %}
            <label for='nationality_first'>Nationality</label>
            {{profile_form.nationality}}
        {% else %} 
            <label for='nationality_first'>First Language</label>
            {{profile_form.first_language}}
        {% endif %}</div>   
        </div>
        <div class='form-group'>
        {% if post_paramater == 'host' %}
            <label for="first_language_desired">First Language</label>
            {{profile_form.first_language}}  
        {% else %} 
            <label for='first_language_desired'>Desired Language</label>
            {{profile_form.desired_language}} 
        {% endif %}     
        </div>
        <div class="form-group">
        {% if post_paramater == 'host' %}
            <label for='location_experience'>Location</label>
            {{profile_form.location}}  
        {% else %} 
            <label for='location_experience'>Work Experience Category</label>
            {{profile_form.work_experience_category}}
        {% endif %}  
        </div>
        <div class='form-group'>
        {% if profile_form.work_experience %}
        <label for='name'>Work Experience</label>
        {{profile_form.work_experience}} 
        {% endif %}  
        </div>
        <div class='form-group form-button'>
        <input type='submit' name='signup-step-2' id='signup-step-2' class='form-submit' value='Register'/>
        </div>`
    }
</script>