{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- This Bootstrap form was taken from https://freefrontend.com/bootstrap-forms/-->
<body>

	<div class="bg-contact3" style="background-image: url('../../media/images/testing_photo.jpg'); background-color: aqua;">
		<div class="container-contact3">
			<div class="wrap-contact3">
				<form class="contact3-form validate-form" action="{% url 'add_offering' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<span class="contact3-form-title">
						Add an Offering
					</span>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
                        {{form.work_category}}
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Message is required">
						{{form.work_details}}
						<span class="focus-input3"></span>
					</div>

					<div class="input3">
						{{form.offering_image}}
					</div>

					<div class="container-contact3-form-btn">
						<button class="contact3-form-btn">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
</body>
{% endblock %}
