{% extends "base.html" %}
{% load static %}

<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
{% block content %}
  <div class="hero-div"></div>
  <div class="container-fluid marketing width-control">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for host, offering in offerings %}
      <div class="col-sm-6 col-md-4 each-offering">
        <div class="mx-auto circle-container-sm">
          <div style="background-image: url('https://language-stay.s3.amazonaws.com/media/images/{{offering.random_identifier}}')" class="circle-cover-bg"></div>
        </div>
        <h4 class="text-center">{{host.user.username}}</h4>
        <p class="text-center padding-top-7">{{host.first_language}}</p>
        <p class="text-center">{{offering.work_category}}</p>
        <p class="text-center"><a class="btn btn-secondary" id="view-details" href="/users/offering_details/{{offering.pk}}">View details</a></p>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}


