{% extends "base.html" %}
{% load static %}

<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
{% block content %}
  <div class="hero-div"></div>
  <div class="container marketing width-control">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for host, offering in offerings %}
      <div class="col-sm-6 col-md-4 each-offering">
        <div class="mx-auto circle-container-sm">
          <div style="background-image: url('/media/images/{{offering.random_identifier}}')" class="circle-cover-bg"></div>
        </div>
        <h2 class="green text-center">{{host.user.username}} {{host.first_language}}</h2>
        <p class="text-center">{{offering.work_details}}</p>
        <p class="text-center"><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      {% endfor %}
    </div><!-- /.row -->
{% endblock %}

