
{% extends "base.html" %}
{% load static %}

    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6" id="picture-column">
                <div class="mx-auto circle-container-bg">
                    <div style="background-image: url('https://language-stay.s3.amazonaws.com/media/images/{{worker_details.random_identifier}}')" class="circle-cover-bg"></div>
                </div>
            </div>
            <div class="col-12 col-md-6" id="details-column">
                <div class="details">
                    <i class="fas fa-user-alt"></i>
                    <p class="inline"><strong>Name</strong></p>
                    <p class="wrapable">{{worker_details}}</p>
                    <hr>
                    <i class="fas fa-envelope"></i>
                    <p class="inline"><strong>Email</strong></p>
                    <p class="wrapable">{{email}}</p>
                    <hr>
                    <i class="fas fa-language"></i>
                    <p class="inline"><strong>Fist Language</strong></p>
                    <p class="wrapable">{{worker_details.first_language}}</p>
                    <hr>
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="inline"><strong>Desired Language</strong></p>
                    <p class="wrapable">{{worker_details.desired_language}}</p>
                    <hr>
                    <i class="fas fa-globe-europe"></i>
                    <p class="inline"><strong>Nationality</strong></p>
                    <p class="wrapable">{{worker_details.nationality}}</p>
                    <hr>
                    <i class="fas fa-hands-helping"></i>
                    <p class="inline"><strong>Work Experience Category</strong></p>
                    <p class="wrapable">{{worker_details.work_experience_category}}</p>
                    <hr>
                    <i class="fas fa-info"></i>
                    <p class="inline"><strong>Work Experience</strong></p>
                    <p class="wrapable">{{worker_details.work_experience}}</p>
                </div>
                <div id="movable-div">
                    <div class="more-offerings">More Workers</div>
                        <div class="details-container">
                            {% for worker in workers %}
                                <div>
                                    <div class="circle-container-details">
                                        <div style="background-image: url('https://language-stay.s3.amazonaws.com/media/images/{{worker.random_identifier}}')" class="circle-cover-bg"></div>
                                    </div>
                                    <div class="text-details">
                                        <p class="text-center">{{worker}}</p>
                                        <p class="text-center">I would like to learn: {{worker.desired_language}}</p>
                                        <p class="text-center"><a class="btn btn-secondary" href="/users/worker_details/{{worker.pk}}">View details &raquo;</a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>  
            </div>
        </div>   
    </div>

    
    {% endblock %}


   



