.circle-cover-bg {
    height: 100%;
    border-radius: 50%;
}

.inline {
    display: inline;
}

.green {
    color: green !important;
}

.circle-container {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
}


.mx-auto {
  margin: auto;
}

img { 
  object-fit: cover;
}