{% extends "base.html" %}
{% load static %}
{% load static %}

{% block content %}
    <div class="product-details">
        <div class="admin-form-div" inline-block>
            {% for f, i in forms_list %}
            <form action="{% url 'product-admin' i %}" method="POST">
                {% csrf_token %}
                    <p class="product-form-para">{{f}}</p>
                    <input class="btn btn-secondary" role="button" type="submit" value="Update">
            </form>
            <form action="{% url 'product-delete' i %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-secondary" role="button" type="submit" value="Delete">
            </form>
            {% endfor %}
            <div> 
                <form action="{% url 'product-add' %}" method="POST" hidden id="new-product-form" inline-block>
                    {% csrf_token %}
                    <p class="product-form-para">{{product_form}}</p>
                    <input class="btn btn-secondary" role="button" type="submit" value="Submit" onclick="myFunction()">
                    <button class="btn btn-secondary" onclick="hide_form()">Cancel</button>
                </form>
            </div>
            <button class="btn btn-secondary" role="button" onclick="show_form()">Add Product</button>
        </div>
    </div>
{% endblock %}



